/* ===== slider de transição =====*/

.slider {
    
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255, 89, 23);
    height: 100%;
    width: 100%;

    transform: translateX(0%)/*empurra div para fora da tela, necessário para a animação*/

}


/* ===== css da pagina ==========*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald&family=Source+Sans+Pro:ital@1&display=swap');

main {

    display: grid;
    grid-template-columns: 0.3fr 1.4fr 0.3fr;
}


#menu {
    margin: 0 20vw;
    text-align: center;
    font-family: 'Oswald';
    margin-bottom: 10vh;
}




.imagem {
    height: 20vh;
    width:100%;    
    margin: auto;
    overflow: hidden;
    

}

.imagem > img {

    display: block;
    object-fit: contain;
    object-position: 0 -60px;
    margin: 0 auto;
 
}



.post_form{

    padding: 5vw;
    grid-column: 2/3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
}


.post_form input {
    height:4vh;
    width: 90%;
    outline: none;

}


.post_form > textarea {

    height: 20vh;
    width: 90%;
    outline: none;

}

.post_form > button {
    width: 20%;
    height: 4vh;
   
}

.posts {

 margin: 0 3vw;
 grid-column: 2/3;
 grid-row: auto;


}

.posts > div{   
    
    width: 90%;
    height: 30vh;
    margin: 2vh auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    border-radius: 16px
}

.posts > div:nth-child(odd) {

    background: lightgrey;

}

.posts h2{

    padding-left:1vw;
    padding-top: 1vh;
    margin: 0 0 0 0;
    vertical-align: top;
    text-align: left;
    font-family: 'Oswald',sans-serif;
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 1;
   
}

.posts p2 {

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    text-align: right;
    grid-column: 3;
    grid-row: 1;


}

.posts p {
    margin-top: 0;
    vertical-align: top;
    padding-left: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    grid-row: 2;
    grid-column: 1/3;
    
}

