<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chorando todo dia o dia todo </title>
   
    <link rel="stylesheet" href="css/mural.css">
</head>

<body>
    <main>

        <div class="headerNav">
            <div class="wrapperNav">
                <a href="/">Intro</a>
                <span>|</span>
                <a href="/instagram"> Instagram</a>
                <span>|</span>
                <a href="/linkedin"> LinkedIn </a>
                <span>|</span>
                <a href="/github"> GitHub </a>
            </div>
        </div>

        <div id="titleSlogan">
            <h1> MURO DAS LAMENTAÇÕES </h1>
            <p> PODE CHORAR A VONTADE </p>
        </div>


  
       
        <form class="post_form">

           <div class="wrapperName">
                <input type="text" name="fname" autocomplete="off" required>
                <label for="fname" class="labelName" ><span class="contentName">Nome</span></label>
            </div> 

                <textarea placeholder="Digite sua lamentação..."type="text"name="fmessage"autocomplete="off" required></textarea> 
                <label for="fmessage" class="labelMessage"></label>
            
                
            <button>ENVIAR</button>

        </form>
       
        
        <div class="posts">
            
        </div>

    </main>


    
    <div class="intro">
        <div class="slider"></div>
    </div>    

        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
            integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
            crossorigin="anonymous">
        </script>

    <script src="scripts/mural.js"></script>
        
</body>
</html>