<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chorando todo dia o dia todo </title>
   
    <link rel="stylesheet" href="css/mural.css">
</head>

<body>
    
<div class="imagem">
    <img src="https://s2.glbimg.com/fo2r5E00p__tLQW-LCCKoria7zU=/0x0:1387x974/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/Y/B/6xd3sUTXKn5CBEbOozNg/bolsonaromuro2.jpg" alt="imagem do bolsonaro no muro das lamentações">
</div>

    <header id="menu">
       
        
        <a href="/">Home</a>
        <span>|</span>
        <a href="/posts">DB</a>
    
        <h1> Muro Das Lamentações </h1>
        <p> Exponha a sua frustração para o mundo! </p>
    </header>

    <main>
       
        <form class="post_form">

           
                <label for="fname" >Nome</label>
                <input type="text" name="fname">
                
                <label for="fmessage">Mensagem</label>
                <textarea type="text" name="fmessage"> </textarea> 
            
                
            <button>Enviar</button>

        </form>
       
        
        <div class="posts">
            
        </div>

    </main>


    
    <div class="intro">
        <div class="slider"></div>
    </div>    

        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
            integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
            crossorigin="anonymous">
        </script>

    <script src="scripts/mural.js"></script>
        
</body>
</html>